.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload__label {
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 18px;
    cursor: pointer;
    border-color: #66615B;
    color: #66615B;
    border: 2px solid #66615B;
    transition: background .3s;
}
.file-upload__label:hover {
  cursor: pointer;
  background: #66615B;
  color: #fff;
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.images {
    display: inline-block;
    vertical-align: top;
}
.images > img {
    margin: 0 30px;
}
.company-img {
  display: inline-block;
  margin: 0 20px;
  width: 100px;
}

.card img {
  width: 100%;
}

.template-img ul li{
display: inline;
margin: 20px;

}

.template-img label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.template-img label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.template-img label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid#666;
}

.custom-field-list {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  flex-wrap: wrap;
  list-style-type: none;
}
.custom-field-list li {
  display: flex;
  width: 340px;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.team-members> li {
  width: 30%;
  margin-right: 20px;
  padding: 33px 8px 8px;
  position: relative;
  min-width: 330px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.32);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.32);
}

.team-members li .left-side {
  margin-right: 10px;
}
.team-members li p {
  margin: 0;
  margin-bottom: 4px;
}
.team-members .team-member-name {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}
.team-member-role {
  position: relative;
  font-size: 12px;
}
.team-member-email{
  font-size: 12px;
}
.list-role {
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 0;
  z-index: 1000;
}
.list-role li {
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  background: #fff;
}
.list-role li:hover {
  background: #68B3C8;
  color: #fff;
}

.member-role {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.role {
 display: inline-block;
 margin: 0 10px;
}

.role .dropdown-toggle:hover {
  background: transparent;
  color: #66615B;
}

.role .dropdown-toggle {
  border: none;
  border-radius: 0;
  padding: 0;
}
.role li {
  padding: 0;
}
.open>.btn.dropdown-toggle {
  background: transparent;
  color: #66615B;
}

.status {
  cursor: pointer;
  color: #333;
}

.team-setting {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ti-settings {
  vertical-align: top;
}

.dropup.open .dropdown-menu {
  transform: translate3d(-16px, 0, 0);
  margin-bottom: 11px;
}