<div class="main-content">

  <form #newBill="ngForm" class="validateForm" (ngSubmit)="ewaybill(newBill)" [ngClass]="{submitted:newBill.submitted}">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Transaction Details</h4>
        <!-- <p class="category">Here is a subtitle for this table</p> -->
      </div>
      <div class="card-content">
        <div class="row">
          <div class="form-group col-md-3">
            <label class="required-star">Transaction Type</label>

            <div class="radiobtn">
              <label class="radio-inline">
                <input type="radio" name="supplyType" value="O" [(ngModel)]="bill.supplyType" (change)="supplyTypeSelected()">Outward
              </label>
              <label class="radio-inline">
                <input type="radio" name="supplyType" value="I" [(ngModel)]="bill.supplyType" (change)="supplyTypeSelected()">Inward
              </label>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="required-star">Sub Type</label>
            <select name="subSupplyType" class="form-control" #txnType="ngModel" [(ngModel)]="bill.subSupplyType" required>
              <option value="">Sub Type</option>
              <option value="1">Supply</option>
              <option *ngIf="bill.supplyType==='I'" value="2">Import</option>
              <option *ngIf="bill.supplyType==='O'" value="3">Export</option>
              <option *ngIf="bill.supplyType==='O'" value="4">Job Work</option>
              <option value="5">For Own Use</option>
              <option *ngIf="bill.supplyType==='I'" value="6">Job work Returns</option>
              <option *ngIf="bill.supplyType==='I'" value="7">Sales Return</option>
              <option value="8">Others</option>
              <option value="9">SKD/CKD</option>
              <option *ngIf="bill.supplyType==='O'" value="10">Line Sales</option>
              <option *ngIf="bill.supplyType==='O'" value="11">Recipient Not Known</option>
              <option value="12">Exhibition or Fairs</option>
            </select>
            <div class="form-error-msg" [hidden]="txnType.pristine && txnType.untouched">
              <p [hidden]="!newBill.hasError('required', 'subSupplyType')"> Cannot be empty </p>
              <p [hidden]="!newBill.hasError('pattern', 'subSupplyType')"> Invalid Input </p>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="required-star">Document Type</label>
            <select name="docType" class="form-control" [(ngModel)]="bill.docType" required #docType="ngModel">
              <option value="">Document Type</option>
              <option value="INV">Tax Invoice</option>
              <option value="BIL">Bill of Supply</option>
              <option value="BOE">Bill of Entry</option>
              <option value="CHL">Challan</option>
              <option value="CNT">Credit Note</option>
              <option value="OTH">Others</option>
            </select>
            <div class="form-error-msg" [hidden]="docType.pristine && docType.untouched">
              <p [hidden]="!newBill.hasError('required', 'docType')"> Cannot be empty </p>
              <p [hidden]="!newBill.hasError('pattern', 'docType')"> Invalid Input </p>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="required-star">Document No.</label>
            <input type="text" class="form-control" name="docNo" placeholder="Document Number" required #docno="ngModel" [ngModel]="bill.docNo | uppercase"
              (ngModelChange)="bill.docNo=$event" [attr.maxlength]="50" [attr.permitAlphabets]="true" [attr.permitSpace]="false"
              [attr.permitUnderscore]="false" [attr.permitDash]="true" [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="true">
            <div class="form-error-msg" [hidden]="docno.pristine && docno.untouched">
              <p [hidden]="!newBill.hasError('required', 'docNo')"> Cannot be empty </p>
              <p [hidden]="!newBill.hasError('pattern', 'docNo')"> Invalid Input </p>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label class="required-star">Document Date</label>
            <p-calendar #docDate="ngModel" required name="docDate" placeholder="Document Date" dateFormat="dd/mm/yy" [monthNavigator]="true"
              [yearNavigator]="true" yearRange="2017:2060" (onSelect)="setMindocDate()" [(ngModel)]="bill.docDate"></p-calendar>
            <div class="form-error-msg" [hidden]="docDate.pristine && docDate.untouched">
              <p [hidden]="!newBill.hasError('required', 'docDate')"> Cannot be empty </p>
              <p [hidden]="!newBill.hasError('pattern', 'docDate')"> Invalid Input </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">From Details</h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="required-star">GSTIN</label>
                <input type="text" rel="tooltip" title="Enter consignor GSTIN or URP for unregistered person" class="form-control" [readonly]="userData.accountType==='B' && bill.supplyType==='O'"
                  pattern="([URP]{3})|([0-9]{2}[A-Za-z]{3}[C,P,H,F,A,T,B,L,J,G,c,p,h,f,a,t,b,l,j,g]{1}[A-Za-z]{1}[0-9]{4}[A-Za-z]{1}[0-9]{1}[A-Za-z0-9]{1}[A-Z0-9a-z]{1})"
                  name="fromGstin" [ngModel]="bill.fromGstin | uppercase" (ngModelChange)="bill.fromGstin=$event;" (keyup)="selectState('fromGstin')"
                  placeholder="GSTIN" required [maxlength]="bill.fromGstin=='URP'?'3':15" [attr.permitAlphabets]="true" [attr.permitSpace]="false"
                  [attr.permitUnderscore]="false" #fromgstin="ngModel" [attr.permitDash]="false" [attr.permitNumbers]="true"
                  [attr.defaultValue]="" [attr.permitSpecial]="false">
                <div class="form-info-msg">
                  <p [hidden]="newBill.hasError('required' , 'fromGstin') || newBill.hasError('pattern' , 'fromGstin') || bill.fromGstin[0]==='U'">State: {{transFromStateCode[0]?transFromStateCode[0].state_name:''}} </p>
                </div>

                <div class="form-error-msg" [hidden]="fromgstin.pristine && fromgstin.untouched">
                  <p [hidden]="!newBill.hasError('required', 'fromGstin')"> Cannot be empty </p>
                  <p [hidden]="!newBill.hasError('pattern', 'fromGstin')"> Invalid Input </p>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Name</label>
                <input type="text" class="form-control" name="fromTrdName" [(ngModel)]="bill.fromTrdName" placeholder="Name" [attr.maxlength]="100"
                  [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="false" [attr.permitDash]="false"
                  [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="false">
              </div>
              <div class="form-group">
                <div class="col-md-12 form-group">
                  <label>Despatch From:</label>
                  <input type="text" placeholder="Flat / House No. / Floor / Building" name="fromAddr1" [(ngModel)]="bill.fromAddr1" class="form-control"
                    autocomplete="off" #taxInvoiceShipAddRef="ngModel" [attr.maxlength]="100" [attr.permitAlphabets]="true"
                    [attr.permitSpace]="true" [attr.permitUnderscore]="true" [attr.permitDash]="true" [attr.permitNumbers]="true"
                    [attr.defaultValue]="" [attr.permitSpecial]="true">
                  <!-- <div class="form-error-msg" [hidden]="taxInvoiceShipAddRef.pristine && taxInvoiceShipAddRef.untouched">
                                  <p [hidden]="!taxInvoice.hasError('required' , 'client_shipping_address')"> Cannot be empty </p>
                                </div> -->
                </div>
                <div class="col-md-12 form-group">
                  <input type="text" placeholder="Colony / Street / Locality" name="fromAddr2" [(ngModel)]="bill.fromAddr2" class="form-control"
                    autocomplete="off" [attr.maxlength]="100" [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="true"
                    [attr.permitDash]="true" [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="true">
                </div>

                <div class="col-md-6 form-group">
                  <label class="required-star">Pincode</label>
                  <input type="text" rel="tooltip" title="For direct import seller select other teritory and enter pincode as 999999" placeholder="Pincode *"
                    name="fromPincode" #frompincode="ngModel" pattern=".{6,}" [(ngModel)]="bill.fromPincode" required (ngModelChange)="checkPincode('fromPincode')"
                    class="form-control" autocomplete="off" [attr.maxlength]="6" [attr.permitAlphabets]="false" [attr.permitSpace]="false"
                    [attr.permitUnderscore]="false" [attr.permitDash]="false" [attr.permitNumbers]="true" [attr.defaultValue]=""
                    [attr.permitSpecial]="false">
                  <div class="form-error-msg" [hidden]="frompincode.pristine && frompincode.untouched">
                    <p [hidden]="!newBill.hasError('required' , 'fromPincode')"> Cannot be empty </p>
                    <p *ngIf="!fromPincodeValid && bill.fromPincode.length>0"> Invalid Pincode </p>
                  </div>
                </div>

                <div class="col-md-6 form-group">
                  <label style="visibility:hidden">Pincode</label>
                  <input type="text" placeholder="Place" name="fromPlace" [(ngModel)]="bill.fromPlace" class="form-control" autocomplete="off"
                    [attr.maxlength]="100" [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="false"
                    [attr.permitDash]="false" [attr.permitNumbers]="false" [attr.defaultValue]="" [attr.permitSpecial]="false">
                </div>

                <div class="col-md-6 form-group">
                  <label class="required-star">State:</label>
                  <select name="fromStateCode" [(ngModel)]="bill.fromStateCode" class="form-control" required #fromstate="ngModel" (change)="checkIGST()">
                    <option value="">Please Select State</option>
                    <option *ngFor="let state of state.data" [value]="state.state_code">{{state.state_name}}</option>
                    <option value="97">Other Territory</option>
                    <option value="99">Other Country</option>
                  </select>
                  <div class="form-error-msg" [hidden]="fromstate.pristine && fromstate.untouched">
                    <p [hidden]="!newBill.hasError('required' , 'fromStateCode')"> Cannot be empty </p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">To Details</h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="required-star">GSTIN</label>
                <input type="text" rel="tooltip" title="Enter Consignee GSTIN or URP for unregistered person" class="form-control" [readonly]="userData.accountType==='B' && bill.supplyType==='I'"
                  name="toGstin" pattern="([URP]{3})|([0-9]{2}[A-Za-z]{3}[C,P,H,F,A,T,B,L,J,G,c,p,h,f,a,t,b,l,j,g]{1}[A-Za-z]{1}[0-9]{4}[A-Za-z]{1}[0-9]{1}[A-Za-z0-9]{1}[A-Z0-9a-z]{1})"
                  [ngModel]="bill.toGstin | uppercase" (ngModelChange)="bill.toGstin=$event;" (keyup)="selectState('toGstin')"
                  placeholder="GSTIN" required [maxlength]="bill.toGstin==='URP'?'3':15" [attr.permitAlphabets]="true" [attr.permitSpace]="false"
                  [attr.permitUnderscore]="false" #togstin="ngModel" [attr.permitDash]="false" [attr.permitNumbers]="true"
                  [attr.defaultValue]="" [attr.permitSpecial]="false">
                <div class="form-info-msg">
                  <p [hidden]="newBill.hasError('required' , 'toGstin') || newBill.hasError('pattern' , 'toGstin') || bill.toGstin[0]==='U'">State: {{transToStateCode[0]?transToStateCode[0].state_name:''}} </p>
                </div>
                <div class="form-error-msg" [hidden]="togstin.pristine && togstin.untouched">
                  <p [hidden]="!newBill.hasError('required', 'toGstin')"> Cannot be empty </p>
                  <p [hidden]="!newBill.hasError('pattern', 'toGstin')"> Invalid Input </p>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Name</label>
                <input type="text" class="form-control" name="toTrdName" [(ngModel)]="bill.toTrdName" placeholder="Name" [attr.maxlength]="100"
                  [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="false" [attr.permitDash]="false"
                  [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="false">

              </div>

              <div class="form-group">
                <div class="col-md-12 form-group">
                  <label>Ship To</label>
                  <input type="text" placeholder="Flat / House No. / Floor / Building" name="toAddr1" [(ngModel)]="bill.toAddr1" class="form-control"
                    autocomplete="off" #taxInvoiceShipAddRef="ngModel" [attr.maxlength]="100" [attr.permitAlphabets]="true"
                    [attr.permitSpace]="true" [attr.permitUnderscore]="true" [attr.permitDash]="true" [attr.permitNumbers]="true"
                    [attr.defaultValue]="" [attr.permitSpecial]="true">

                </div>
                <div class="col-md-12 form-group">
                  <input type="text" placeholder="Colony / Street / Locality" name="toAddr2" [(ngModel)]="bill.toAddr2" class="form-control"
                    autocomplete="off" [attr.maxlength]="100" [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="true"
                    [attr.permitDash]="true" [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="true">
                </div>

                <div class="col-md-6 form-group">
                  <label class="required-star">Pincode</label>
                  <input type="text" placeholder="Pincode *" rel="tooltip" title="For direct import seller select other teritory and enter pincode as 999999"
                    #topincode="ngModel" name="toPincode" [(ngModel)]="bill.toPincode" pattern=".{6,}" required (ngModelChange)="checkPincode('toPincode')"
                    class="form-control" autocomplete="off" [attr.maxlength]="6" [attr.permitAlphabets]="false" [attr.permitSpace]="false"
                    [attr.permitUnderscore]="false" [attr.permitDash]="false" [attr.permitNumbers]="true" [attr.defaultValue]=""
                    [attr.permitSpecial]="false">
                  <div class="form-error-msg" [hidden]="topincode.pristine && topincode.untouched">
                    <p [hidden]="!newBill.hasError('required' , 'toPincode')"> Cannot be empty </p>
                    <p *ngIf="!toPincodeValid && bill.toPincode.length>0"> Invalid Pincode </p>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label style="visibility:hidden">Pincode</label>
                  <input type="text" placeholder="Place" name="toPlace" [(ngModel)]="bill.toPlace" class="form-control" autocomplete="off"
                    [attr.maxlength]="100" [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="false"
                    [attr.permitDash]="false" [attr.permitNumbers]="false" [attr.defaultValue]="" [attr.permitSpecial]="false">
                </div>
                <div class="col-md-6 form-group">
                  <label class="required-star">State:</label>
                  <select name="toStateCode" [(ngModel)]="bill.toStateCode" class="form-control" required #tostate="ngModel" (change)="checkIGST()">
                    <option value="">Please Select State</option>
                    <option *ngFor="let state of state.data" [value]="state.state_code">{{state.state_name}}</option>
                    <option value="97">Other Territory</option>
                    <option value="99">Other Country</option>
                  </select>
                  <div class="form-error-msg" [hidden]="tostate.pristine && tostate.untouched">
                    <p [hidden]="!newBill.hasError('required' , 'toStateCode')"> Cannot be empty </p>
                  </div>
                </div>

              </div>


            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Item Details</h4>
      </div>
      <div class="card-content bill-table table-responsive table-full-width">
        <table class="table invoice-item">
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <th>Product Name</th>
              <th>Description</th>
              <th class="required-star">HSN</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th class="required-star">Taxable Value(
                <code>&#8377;</code>)</th>
              <th>CGST Rate</th>
              <th>SGST Rate</th>
              <th>IGST Rate</th>
              <th>CESS Rate</th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bill.itemList ; let i = index" [class.item-edit]="bill.itemList.length!=i+1">
              <!-- <td>{{i+1}}</td> -->
              <td class="tableItem" style="min-width:160px">
                <input type="text" class="form-control" [name]="'itemList___'+i+'___productName'" [attr.name]="'itemList___'+i+'___productName'"
                  [(ngModel)]="item.productName" placeholder="Product Name" [attr.maxlength]="100" [attr.permitAlphabets]="true"
                  [attr.permitSpace]="true" [attr.permitUnderscore]="false" [attr.permitDash]="false" [attr.permitNumbers]="true"
                  [attr.defaultValue]="" [attr.permitSpecial]="false">

              </td>

              <td style="min-width:160px">
                <input type="text" class="form-control" placeholder="Description" [name]="'itemList___'+i+'___productDesc'" [attr.name]="'itemList___'+i+'___productDesc'"
                  [(ngModel)]="item.productDesc" [attr.maxlength]="100" [attr.permitAlphabets]="true" [attr.permitSpace]="true"
                  [attr.permitUnderscore]="false" [attr.permitDash]="false" [attr.permitNumbers]="true" [attr.defaultValue]=""
                  [attr.permitSpecial]="false">
              </td>
              <td>
                <input type="text" #hsncode="ngModel" class="form-control" [(ngModel)]="item.hsnCode" [name]="'itemList___'+i+'___hsnCode'"
                  [attr.name]="'itemList___'+i+'___hsnCode'" required [attr.maxlength]="10" [attr.permitAlphabets]="false"
                  [attr.permitSpace]="false" [attr.permitUnderscore]="false" [attr.permitDash]="false" [attr.permitNumbers]="true"
                  [attr.defaultValue]="" [attr.permitSpecial]="false">
                <div class="form-error-msg" [hidden]="hsncode.pristine && hsncode.untouched">
                  <p [hidden]="!newBill.hasError('required' , 'itemList___'+i+'___hsnCode')"> Cannot be empty </p>
                </div>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Quantity" [name]="'itemList___'+i+'___quantity'" [attr.name]="'itemList___'+i+'___quantity'"
                  [(ngModel)]="item.quantity" [attr.min]="0" [attr.max]="99999999" [attr.precision]="2" [attr.defaultValue]="0.00">
              </td>
              <td>
                <select class="form-control" [name]="'itemList___'+i+'___qtyUnit'" [attr.name]="'itemList___'+i+'___qtyUnit'" [(ngModel)]="item.qtyUnit">
                  <option *ngFor="let unitItem of unit.data" [value]="unitItem">{{unit.data[unitItem]}}</option>
                </select>

              </td>
              <td style="min-width:160px">
                <input type="text" class="form-control" placeholder="Taxable Value" [name]="'itemList___'+i+'___taxableAmount'" [attr.name]="'itemList___'+i+'___taxableAmount'"
                  [(ngModel)]="item.taxableAmount" required (keyup)="calculator()" [attr.min]="0" [attr.max]="999999999" [attr.precision]="2"
                  [attr.defaultValue]="0.00">
              </td>
              <td>
                <input type="text" class="form-control" [name]="'itemList___'+i+'___cgstRate'" [attr.name]="'itemList___'+i+'___cgstRate'"
                  [disabled]="!igstDisable" [(ngModel)]="item.cgstRate" (keyup)="calculator()" [attr.min]="0" [attr.max]="100"
                  [attr.precision]="2" [attr.defaultValue]="0.00">
              </td>
              <td>
                <input type="text" class="form-control" [name]="'itemList___'+i+'___sgstRate'" [attr.name]="'itemList___'+i+'___sgstRate'"
                  [disabled]="!igstDisable" [(ngModel)]="item.sgstRate" (keyup)="calculator()" [attr.min]="0" [attr.max]="100"
                  [attr.precision]="2" [attr.defaultValue]="0.00">
              </td>
              <td>
                <input type="text" class="form-control" [name]="'itemList___'+i+'___igstRate'" [attr.name]="'itemList___'+i+'___igstRate'"
                  [disabled]="igstDisable" [(ngModel)]="item.igstRate" (keyup)="calculator()" [attr.min]="0" [attr.max]="100"
                  [attr.precision]="2" [attr.defaultValue]="0.00">
              </td>
              <td>
                <input type="text" class="form-control" [name]="'itemList___'+i+'___cessRate'" [attr.name]="'itemList___'+i+'___cessRate'"
                  [(ngModel)]="item.cessRate" (keyup)="calculator()" [attr.min]="0" [attr.max]="100" [attr.precision]="2" [attr.defaultValue]="0.00">
              </td>
              <td class="td-actions">
                <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="removeMoreItem(i)">
                  <i class="ti-close"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td style="border:none">
                <a rel="tooltip" title="Add Item" class="btn btn-success add-more btn-simple btn-xs" (click)="addMoreItem()">
                  Add More
                  <i class="ti-plus"></i>
                </a>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="row" style="padding:0 15px">
        <div class="col-md-2 form-group">
          <label>Taxable Amount</label>
          <input type="text" placeholder="Taxable Amount" name="totalValue" readonly [(ngModel)]="bill.totalValue" class="form-control"
            autocomplete="off">
        </div>
        <div class="col-md-2 form-group">
          <label>CGST Amount</label>
          <input type="text" placeholder="CGST Amount" name="cgstValue" readonly [(ngModel)]="bill.cgstValue" class="form-control"
            autocomplete="off">
        </div>
        <div class="col-md-2 form-group">
          <label>SGST Amount</label>
          <input type="text" placeholder="SGST Amount" name="sgstValue" readonly [(ngModel)]="bill.sgstValue" class="form-control"
            autocomplete="off">
        </div>
        <div class="col-md-2 form-group">
          <label>IGST Amount</label>
          <input type="text" placeholder="IGST Amount" name="igstValue" readonly [(ngModel)]="bill.igstValue" class="form-control"
            autocomplete="off">
        </div>
        <div class="col-md-2 form-group">
          <label>Cess Amount</label>
          <input type="text" placeholder="Cess Amount" name="cessValue" readonly [(ngModel)]="bill.cessValue" class="form-control"
            autocomplete="off">
        </div>
        <div class="col-md-2 form-group">
          <label>Total Amount</label>
          <input type="text" placeholder="Total Amount" name="totalValue2" readonly [(ngModel)]="totalValue" class="form-control" autocomplete="off">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Transportation Details</h4>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-3 form-group">
            <label class="required-star">Approximate Distance (in KM)</label>
            <input type="text" rel="tooltip" title="Approximate distance between consignor and consignee place" #transdistance="ngModel"
              placeholder="Distance (in KM)" name="transDistance" [(ngModel)]="bill.transDistance" class="form-control" required
              autocomplete="off" [attr.min]="1" [attr.max]="4000" [attr.precision]="0" [attr.defaultValue]="1">
            <div class="form-error-msg" [hidden]="transdistance.pristine && transdistance.untouched">
              <p [hidden]="!newBill.hasError('required' , 'transDistance')"> Cannot be empty </p>
            </div>
          </div>
          <div class="col-md-2 form-group">
            <label>Mode</label>
            <select name="transMode" [(ngModel)]="bill.transMode" class="form-control" (change)="bill.vehicleNo='';bill.transporterId=''">
              <option value="1">Road</option>
              <option value="2">Rail</option>
              <option value="3">Air</option>
              <option value="4">Ship</option>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label>Vehicle Type</label>
            <div class="radiobtn">
              <label class="radio-inline">
                <input type="radio" name="VehicleType" value="R" [(ngModel)]="bill.VehicleType">Regular
              </label>
              <label class="radio-inline">
                <input type="radio" name="VehicleType" value="O" [(ngModel)]="bill.VehicleType">Over Dimensional Cargo
              </label>
            </div>

          </div>

          <div class="form-group col-md-2" *ngIf="bill.transMode==='1'">
            <label>Vehicle No.</label>
            <input [disabled]="bill.transMode!='1'" type="text" placeholder="Vehicle Number" name="vehicleNo" pattern="[OT|JK|HP|PB|CH|UK|HR|DL|RJ|UP|BR|SK|AR|NL|MN|MZ|TR|ML|AS|WB|JH|OD|OR|CG|MP|GJ|DD|DN|MH|AP|KA|GA|LD|KL|TN|PY|AN|TS]{2}[0-9A-Za-z]{5,9}"
              [ngModel]="bill.vehicleNo | uppercase" (ngModelChange)="bill.vehicleNo=$event" class="form-control" autocomplete="off"
              [attr.maxlength]="11" [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="false"
              [attr.permitDash]="true" [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="false">

          </div>

          <div class="form-group col-md-2" *ngIf="bill.transMode==='1'">
            <label>Transporter ID</label>
            <input type="text" placeholder="Transporter ID" name="transporterId" [ngModel]="bill.transporterId | uppercase" (ngModelChange)="bill.transporterId=$event"
              pattern="[0-9]{2}[A-Za-z]{3}[C,P,H,F,A,T,B,L,J,G,c,p,h,f,a,t,b,l,j,g]{1}[A-Za-z]{1}[0-9]{4}[A-Za-z]{1}[0-9]{1}[A-Za-z0-9]{1}[A-Z0-9a-z]{1}"
              class="form-control" autocomplete="off" [attr.maxlength]="15" [attr.permitAlphabets]="true" [attr.permitSpace]="true"
              [attr.permitUnderscore]="false" [attr.permitDash]="false" [attr.permitNumbers]="true" [attr.defaultValue]=""
              [attr.permitSpecial]="false">

          </div>
          <div class="col-md-2 form-group">
            <label>Transporter Name</label>
            <input type="text" placeholder="Transporter Name" name="transporterName" [(ngModel)]="bill.transporterName" class="form-control"
              autocomplete="off" [attr.maxlength]="100" [attr.permitAlphabets]="true" [attr.permitSpace]="true" [attr.permitUnderscore]="false"
              [attr.permitDash]="false" [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="false">
          </div>




          <div class="col-md-2 form-group">
            <label *ngIf="bill.transMode==='1'">Transporter Doc. No.</label>
            <label *ngIf="bill.transMode==='2'" [class.required-star]="bill.transMode!='1'">RR No.</label>
            <label *ngIf="bill.transMode==='3'" [class.required-star]="bill.transMode!='1'">Airway Bill No.</label>
            <label *ngIf="bill.transMode==='4'" [class.required-star]="bill.transMode!='1'">Bill of lading No.</label>
            <input type="text" [required]="bill.transMode!=='1'" placeholder="Transporter Doc Number" name="transDocNo" [(ngModel)]="bill.transDocNo"
              class="form-control" autocomplete="off" [attr.maxlength]="15" [attr.permitAlphabets]="true" [attr.permitSpace]="true"
              [attr.permitUnderscore]="false" [attr.permitDash]="false" [attr.permitNumbers]="true" [attr.defaultValue]=""
              [attr.permitSpecial]="false">
          </div>
          <div class="form-group col-md-2">
            <label>Date</label>
            <p-calendar #transdocDate="ngModel" name="transDocDate" required placeholder="Transporter Doc. Date" dateFormat="dd/mm/yy"
              [minDate]="transDocDateMinDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2060" [(ngModel)]="bill.transDocDate"></p-calendar>

          </div>



        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 pull-right text-right">
        <button type="submit" [disabled]="SaveBtnText==='Generating EWB'" class="btn btn-success btn-fill btn-wd">{{SaveBtnText}}</button>
      </div>

    </div>
  </form>

</div>