<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title">Payment Vouchers</h4>
                <p class="category">Payment voucher allows the user to record payments to the vendors for the goods/services procured</p>
                <p class="category">To record receipts from vendors for goods & services procured</p>

                <br>
                <div class="card">
                    <div class="card-content">
                        <h4 class="card-title text-right"></h4>
                        <div class="toolbar text-right" style="margin-bottom:5px">
                            <a [routerLink]="['./add']"><button class="btn btn-success btn-fill btn-wd">Add new payment voucher</button></a>
                        </div>
                        <!-- <div class="tutorial-img" *ngIf="showImg">
                            <img src="http://placehold.it/100x100" alt="img">
                        </div> -->
                        
                        <div class="fresh-table">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                      <th>{{ dataTable.headerRow[0] }}</th>
                                      <th>{{ dataTable.headerRow[1] }}</th>
                                      <th>{{ dataTable.headerRow[2] }}</th>
                                      <th>{{ dataTable.headerRow[3] }}</th>
                                      <th>{{ dataTable.headerRow[4] }}</th>
                                      <th>{{ dataTable.headerRow[5] }}</th>
                                      <th class="disabled-sorting">{{ dataTable.headerRow[6] }}</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                      <th>{{ dataTable.footerRow[0] }}</th>
                                      <th>{{ dataTable.footerRow[1] }}</th>
                                      <th>{{ dataTable.footerRow[2] }}</th>
                                      <th>{{ dataTable.footerRow[3] }}</th>
                                      <th>{{ dataTable.footerRow[4] }}</th>
                                      <th>{{ dataTable.footerRow[5] }}</th>
                                      <th>{{ dataTable.headerRow[6] }}</th>
                                    </tr>
                                </tfoot>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>
