
<div id="voucherNumber" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Voucher Number Setting</h4>
      </div>
      <div class="modal-body">
        <form #voucherNumberSetting="ngForm" [ngClass]="{submitted:voucherNumberSetting.submitted}" [class]="'validateForm-'+constructor.name">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="required-star">Starting Number:</label>
                <input class="form-control" #startNumRef="ngModel" type="text" [attr.min]="1" [attr.max]="99999" [attr.precision]="0" [attr.defaultValue]="1"  name="starting_number" [(ngModel)]="numberSetting.starting_number" required>
                <div class="form-error-msg" [hidden]="startNumRef.pristine && startNumRef.untouched">
                  <p [hidden]="!voucherNumberSetting.hasError('required' , 'starting_number')"> Cannot be empty </p>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label>Starting Date:</label>
                <p-calendar name="starting_date" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="numberSetting.starting_date"></p-calendar>
              </div>
            </div> -->
            <div class="col-md-6">
							<div class="form-group">
								<label>Prefix:</label>
								<input class="form-control" #prefixRef="ngModel" type="text" name="prefix" [(ngModel)]="numberSetting.prefix" required [attr.maxlength]="10" [attr.permitAlphabets]="true" [attr.permitSpace]="false" [attr.permitUnderscore]="true"
                [attr.permitDash]="true" [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="true">
                <div class="form-error-msg" [hidden]="prefixRef.pristine && prefixRef.untouched">
                  <p [hidden]="!voucherNumberSetting.hasError('required' , 'prefix')"> Cannot be empty </p>
                </div>
							</div>
            </div>
            <div class="col-md-6">
							<div class="form-group">
								<label>Sufix:</label>
								<input class="form-control" type="text" name="sufix" [(ngModel)]="numberSetting.suffix" [attr.maxlength]="10" [attr.permitAlphabets]="true" [attr.permitSpace]="false" [attr.permitUnderscore]="true"
                [attr.permitDash]="true" [attr.permitNumbers]="true" [attr.defaultValue]="" [attr.permitSpecial]="true">
							</div>
            </div>
            <div class="col-md-12">
              <span *ngIf="numberSetting.suffix.length+numberSetting.prefix.length>11">Your invoice number should not be greater than 16 character(fix me)</span>
            </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="numberSetting.suffix.length+numberSetting.prefix.length>11" type="button" class="btn btn-default" (click)="saveNumberFormat()">Save</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>