<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <!-- <li>
                    <a [routerLink]="['/support/support-ticket']" class="dropdown-toggle btn-magnify" data-toggle="dropdown">
                        <i class="ti-support"></i> Support Ticket
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/support/audit-log']" class="dropdown-toggle btn-magnify" data-toggle="dropdown">
                        <i class="ti-comment"></i> Audit Logs
                    </a>
                </li>
                <li>
                    <a href="https://www.gstedge.com/">
                        GST EDGE
                    </a>
                </li>
                <li>
                    <a href="https://blog.gstedge.com/">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="http://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</footer>